<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>HALP</h1>
        <h2>THE THING BROKE! WHAT DO?</h2>
    </hgroup>
</body>
</html>
